body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f8; /* Background color */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #ffffff; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #4a4a4a; /* Header color */
}

label {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
    display: block;
    cursor: pointer;
}

input[type="checkbox"]
{
    margin-right: 10px;
}

button.left-button { 
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.right-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Add more styles here as needed */
button:hover {
    opacity: 0,9;
}